<style>
.button {
  font-size: 15px;
  background-color: rgb(255, 153, 153);
}
</style>

<%= render @book %>

<p>
  <strong>タグ</strong>
  <%= @book.tags.map(&:name).join(', ') %>
</p>

<div>
  <%= link_to "🖊Edit this book", edit_book_path(@book) %> |
  <%= link_to "🔙Back to books", books_path %>

  <p>
  <%= button_to "Destroy this book", @book, method: :delete, data: { "turbo-confirm": "May I delete this items from books?" }, class:"button"%>
  </p>
</div>
