<h1>Cart🛒</h1>

<% @line_items.each do |line_item| %>
  <% book = line_item.book %>
  <div>
    <p><%= book.title %></p>
    <p><%= line_item.quantity %>items</p>
    <p>
      <%= line_item.total_price %>
      <span>￥(Including tax)</span>
    </p>
  </div>
<% end %>

<div>
  <p>📚 Quantity of orders: <%= @current_cart.total_number %><span> items</span></p>
  <p>
    💴 Total price:￥<%= @current_cart.total_price %>
    <span>(Including tax)</span>
  </p>
</div>

<% if @line_items.count == 0 %>
<strong>Your shopping cart is empty🛒…</strong>
<% end %>