<p style="color: green"><%= notice %></p>

<%= render @book %>

<p>
  <strong>タグ</strong>
  <%= @book.tags.map(&:name).join(', ') %>
</p>

<p><%= button_to "Order Page", new_order_path(book_id: @book), method: :get %></p>

<p><%= link_to "Back to books", products_path %></p>
